/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.red-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}


  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    padding: 8px; /* Adjust the padding value as needed */
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

.error-messages {
  margin-top: 10px;
  padding: 10px;
  /* Light red background */
}

.error-heading {
  color: red; /* Make the heading text red */
  margin-bottom: 10px;
}

.error-list {
  color: red; /* Make the error messages text red */
}
